@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
  padding:0;
  margin:0;
}

header {
  width: 100%;
  min-height: 110vh;
  background-image: linear-gradient(rgba(5, 10, 30, 0.2),rgba(10, 9, 30, 0.2)), url("/static/images/Dancing with machines 2018.png");
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5% 3%;
}
img {
  width: 120px;
  opacity: 0.4;
  margin-left: -20px;
}

.nav-links {
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 25px;
}
.nav-links ul li a {
  text-decoration: none;
  color:white;
  font-size:14px;
  font-family:'Raleway', sans-serif;
}

#textbox1 img {
  width: 130px;
  height: 80px;
  opacity: 0.7;
  position:relative;
  left:5px;


}
.textbox a {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}
.textbox {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.textbox h1{
  font-size: 60px;
  color: #e2dada;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}
.textbox p {
  font-size: 20px;
  margin:10px 0 40px;
  font-family: 'Raleway', sans-serif;
  font-weight:200;
  color:white;
}

.btn {
  text-decoration:none;
  color:white;
  border: 1px solid white;
  padding: 12px 34px;
  transition: 1s;
}

.btn a {
  text-decoration:none;
}
.btn:hover {
  background-color: black;
  border:1px solid  black;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  transition: 0.5s;
  margin:auto;
}
.nav-links ul li:hover::after {
  width: 95%;
}
nav .fa {
  display:none;
}
.company {
  text-align: center;
  width: 80%;
  padding-top: 100px;
  margin: auto;
}
.company h1 {
  font-size: 36px;
  font-weight: 550;
  font-family:'Raleway', sans-serif;
}
h3{
font-family:'Raleway', sans-serif;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: #9c9696;
  font-family:'Raleway', sans-serif;
  padding: 10px;
}
.company_col p {
  font-size: 17px;
  font-family:'Raleway', sans-serif;
  color:#dad7d7;
}
.company_col h3 {
  color:#fffafa;
  font-weight: 200;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.row2 {
  display: flex;
  justify-content: center;
  margin-top: 8%;


}

.company_col {
/* Created with https://www.css-gradient.com */
  background: #0c1527;
  padding: 20px 12px;
  margin-bottom: 5%;
  border-radius: 10px;
  flex-basis: 29%;
}
.company_col:hover {
  box-shadow: 5px 5px  #030d21;
}


.campus {
  width: 78%;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}
.campus a {
  text-decoration: none;
}

.campus-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 375px;
  height: 395px;
  display: block;
  opacity: 1;
  text-align: center;
}

.label {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: transparent;
}

.label:hover {
  background: rgba(251, 244, 244, 0.5)
}

.label h3 {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  transition: 0.8s;
  width: 100%;
  text-align: center;
  font-family:'Raleway', sans-serif;
}

.label:hover h3 {
  bottom: 55%;
}
.campus h1 {
  font-size: 36px;
  font-weight: 550;
  font-family:'Raleway', sans-serif;
}
.campus-col p {
  font-size: 17px;
  font-family:'Raleway', sans-serif;
  color:#a9a7a7;
}
.campus p {
  color: #9c9696;
}

.facilities {
  width: 83%;
  text-align: center;
  margin: auto;
  padding-top: 90px;
}
.facilities-col {
  flex-basis: 30%;
  margin-top:-0.5%;
  margin-bottom: 5%;
  text-align: center;

}

div.bab {
  flex-basis: 30%;
  margin-top:-4.5%;
  margin-bottom: 5%;
  margin-right:20px;
  padding:8px;
  text-align: center;


}
.bab:hover {
 border:0;
 box-shadow:1px 15px 8px 0px rgba(0,0,0,0.6);
}
.bab2 {
  flex-basis: 30%;
  margin-top:-1.2%;
  margin-right:70px;
  margin-bottom: 5%;
  padding:8px;

  text-align: center;

}
.bab2:hover {
  border:0;
  box-shadow:1px 15px 8px 0px rgba(0,0,0,0.6);
}

.aged {
  flex-basis: 30%;
  margin-top:-4.7%;
  margin-bottom: 5%;
  padding:8px;
  text-align: center;

}
.aged:hover {
border:0;
box-shadow:1px 15px 8px 0px rgba(0,0,0,0.6);
}

.aged #space2 {
  word-spacing:-1.8px;
  letter-spacing:0px;

}
.old {
  flex-basis: 30%;
  margin-top:-4.7%;
  margin-bottom: 5%;
  text-align: center;
  padding:8px;

}
.old:hover {
  border:0;
  box-shadow:1px 15px 8px 0px rgba(0,0,0,0.6);
}

.old2 {
  flex-basis: 30%;
  margin-top:-1.5%;
  margin-bottom: 5%;
  padding:8px;
  text-align: center;

}
.old2:hover {
  border:0;
  box-shadow:1px 15px 8px 0px rgba(0,0,0,0.6);
}
.old #space {
word-spacing:-1.4px;
letter-spacing:0.1px;
}
.old2 #space5 {
word-spacing:-0.8px;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
  opacity:1;
  text-align:center;
}
.facilities-col p {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  font-weight:700;
  color:#3c061c !important;
  word-spacing: 0px;
  text-align: justify;

}


.facilities-col h3 {
  font-family: 'Raleway', sans-serif;
  margin: 15px 0;
  text-align: left;
}
.facilities h1 {
  font-family: 'Raleway', sans-serif;
  color:#1a1a1a;


}
.ipadpro {
  margin-top:-50px;
}
.ipadpro2 {
  margin-top:10px;
}

.testimonials {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
}
.testimonials h1 {
  font-family: 'Raleway', sans-serif;
}

.testimonials-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  background: linear-gradient(to right top, rgb(61, 61, 67), rgb(33, 66, 96));
  text-align: left;
  padding: 25px;
  display: flex;
}
.testimonials-col img {
  height: 45px;
  margin: 0 30px 0 5px;
  border-radius: 50%;
  opacity: 1;
}
.testimonials-col p {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  color:white;
}
.testimonials-col .fa {
  color: #0a0b0b66;
}
.testimonials-col h3 {
  margin-top: 15px;
  font-family: 'Raleway', sans-serif;
}
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(7, 10, 30, 0.2),rgba(7, 10, 30, 0.2)), url("/static/images/Dancing with machines 2018.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.cta h1 {

  color: #fff;
  margin-bottom: 20px;
  padding:0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size:20px;
}
.cta a {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;

}

.btn2 {
/*   height: 23px; */
  width: 140px;
  border: 1px solid white;
  border-radius: 20px;
/*   text-align: center;
  padding: auto;
  display:flex;
  flex-direction: row;
  position: relative;
  top:-15px;
  left:475px; */
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:25px;


}
.btn2 p {
  color:white;
  font-size:14px;
/*   font-size: 12px;
  font-family:Arial, Helvetica, sans-serif ;
  text-align:center;
  position:relative;
  top:-5px;
  left:5px; */
}
/* .btn2 .fa {
  color:white;
  padding-bottom:none;
  position:relative;
  top:0px;
  text-align:center;


} */
footer {
  width: 100%;
  text-align: center;
  padding: 70px 0 10px 0;

}
#fafa {
margin-bottom:100px;


}


footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.icons .fa {
  color: #06283D;
  margin: 0 13px;
  padding: 18px 0;
}

footer p {
  margin: 0 100px;
  font-family: 'Raleway', sans-serif;

}

.fa-heart {
  color: #06283D;
}
.facilities-col .what {

letter-spacing:0px;
text-align:justify;
}
.drama {
font-size:17px !important;
}

@media only screen and (max-width: 700px) {
.facilities-col .what {

word-spacing: 2px;
text-align: justify;
letter-spacing: 0px;
}
#oppa {
margin-right:-5px;

}
.text {
text-align:justify;
word-spacing:-5px;
}
#opera {
width:99%;
font-size:17px;


}

img#airpods {
    width: 95%;
    min-height: 30vh;
}
p.ipad {
word-spacing:-1px;

}
p.macbook {
word-spacing: -1px;
letter-spacing: -0.5px;
}
div#f1.buy {
margin-top:20px;
}
div#f2.buy {
margin-top:20px;
}
div#f.buy {
margin-top:20px;
}
div#f4.buy {
margin-top:20px;
}
.other_space5 {
word-spacing:-1.5px;

}

#iphone {
word-spacing:0px;
}
.ширина {
width:190px;
height:40px;
}
nav {
justify-content: flex-end;
}
  .textbox h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;

  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    text-align: left;
    transition: 1s;
    background: #06283D;
    z-index: 1;
  }

  nav .fa {
    color: #fff;
    display: block;
    margin: 10px;
    font-size: 20px;
  }

  .nav-links ul {
    padding: 30px;
  }

  .row {
    flex-direction: column;
  }
 .row2 {
    flex-direction: column;
  }

  .testimonials-col img {
    margin: 0 15px 0 0;
  }

  .cta h1 {
    font-size: 24px;
    padding: 10px;
  }

  footer p {
     margin: 0;
  }
  div.icons {
  margin-bottom:-30px;

  }
  .facilities-col img {
    text-align:center;
    margin-left:0px;
  }
  #textbox1 img {
    left:10px;
  }

  .cta h1 {
    font-size:15px;
  }
.ipadpro {
  margin-top:0px;
}
p.ipad.pro {
word-spacing:-2px;
letter-spacing:0px;

}
.nav-links ul li:hover::after {
  width: 0%;
}
.about-col img {
    margin-left: 2px;
  }
.watch {
  padding-top: 40px;
}
.foot h4 {
margin-top: 60px;
}
/* .blog-left img {
 margin-left:-2px;
} */
.location {
  height:60%;
  width:80%;
}
.blog-content {
  width: 100%;
}
.blog-left {
  flex-basis: 80%;
  width:100%;
}
.blog-left .foto {
  width:99%;
}
.blog-left .ppp {
  width:99%;
  text-align:justify;
  word-spacing:0px;

}
div.blog-right {
  width:100%;
}
div.comment-box {
  width:85%;
}
div.blog-right {
  padding-left:0%;
}
.ipadpro2 {
  padding-top:40px;
}
iframe {
  width: 1000px;
  height: 400px;
}
.campus-col img {
  width: 330px;
  height: 350px;
}
.label h3 {
  transition: 0.5s;
}
#poem2 {
word-spacing: -1px;
}
.aged #space2  {
word-spacing: -0.5px;
letter-spacing: 0px;
}
div.contact-col {
margin-top:10px;

}
div.modalwindow {
margin:70% auto;
padding-bottom:10px;
}

.contact-col div p{
margin: 4% 0 8% 0;
}
p.TV {
letter-spacing:0.2px;
    word-spacing: -0.4px;
}
img.mob2 {
  text-align:center;
  width: 285px;
  min-height: 20vh;
}
div.bab2 {
margin-right:0;}

.blog-left h3 {
font-size:15px;
}
.facilities-col.mob {
    width: 85%;
    min-height: 30vh;
}
.facilities-col img.mob {
width: 85%;
min-height: 30vh;
}
div.DIV p {
word-spacing:-3px;

}
p.other_space {
word-spacing:-1px;
}
.season {
word-spacing:-5px;
}

}
img.mob {
width:85%;
min-height:35vh;
}


.sub-header {
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(5, 10, 50, 0),rgba(10, 9, 30, 0)), url("/static/images/dark.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.sub-header h1 {
  margin-top: 100px;
}
.sub-header h1 {
  font-size: 30px;
  color: #e2dada;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}
.about-col {
  flex-basis: 46%;
  padding: 25px 5px;
}
.about-col img {
  width: 100%;
  opacity: 1;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  border-radius: 5px;

}
.about_us {
  width: 85%;
  margin: auto;
  padding-top: 30px;
  margin-bottom: 100px;
}
.poem p {
  padding: 15px 0 25px;
  font-family:'Raleway', sans-serif;
  color:#000000;
  font-weight: 500;
  font-size: 14px;
}
.about-col h1 {
  font-family: 'Raleway', sans-serif;
}
.red-btn {
  color: #06283D;
  border: 1px solid #06283D;
  background: transparent;
  font-family: 'Raleway', sans-serif;
  font-size:15px;
}

.red-btn:hover {
  background: #030d21 ;
  color: white; !import
}
.aaaa h3 {
  color:#be1919
}
.watch {
  margin-top:41px;
  margin-left:0px;

}
.watch2 {
  margin-top:65px;
  margin-left:0px;

}

.mob {
  margin-left:-5px;
  margin-top:50px;
}
.mob2 {
  margin-left:-5px;
  width:25px;
  height:200px;
  margin-top:115px;
}
.air  {
  margin-top: 75px;
}

.buy {
  width:100px;
  border:1px solid #fff;
  border-radius: 20px;
  margin-top:20px;
  background: #0071e3;
  color:#fff !important;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
  font-family: 'Raleway', sans-serif;
  font-size:15px;
  margin-bottom:10px;

}
.buy a {
  text-decoration: none;
  color:white;
}
.buy:hover {
  color:white;
  background: blue;
  border:1px solid white;
  transition: 0.5s;
}

#f{
 margin-top: 5px;
}
#f1 {
  margin-top: 25px;
  display:fixed;
}
#f2 {
  margin-top:28px;
}
#f3{
margin-top: 23px;
margin-bottom:0px;
}
.bab2 h3 {
padding-top:5px;

}
.old2 h3 {
margin-top:0px;

}
#f4 {
margin-top: 25px;
display:fixed;
}

.foot h4 {
  margin-top:50px;
}

.blog-content {
  width: 75%;
  margin: auto;
  padding: 60px 0;
}

.blog-left {
  flex-basis: 70%;
  margin-top: -30px;
}

.blog-left img {
  width:94%;
  opacity:1;
  margin-top:20px;
  padding-bottom:20px;
  padding-left:20px;

}

.blog-left h2 {
  font-weight: 600;
  margin: 30px 0;
  font-family: 'Raleway', sans-serif;
}
.blog-left h1 {
  font-family: 'Raleway', sans-serif;
  margin-top:20px;
  margin-bottom: 10px;
}
.blog-left span {
  color:grey;
  font-family: 'Raleway', sans-serif;

}
span .grey {
  margin-bottom: 30px;
}
.blog-left .text {
  font-size:20px;
  font-family: 'Raleway', sans-serif;
  color:black;
  font-weight:500px;


}

.blog-left p {
  padding: 0;
  color: #3c061c !important;
  width:94%;
  text-align:justify;
  word-spacing:0px;
  font-size: 14px;
}
.blog-left h3 {
text-align:justify;
word-spacing:0.5px;
}

.comment-box {
  border: 1px solid grey;
  margin: 50px 0;
  padding: 10px 20px;
  width:50%;
  font-family: 'Raleway', sans-serif;
}
/*
.comment-box h3 {
  text-align: left;
}
 */

.comment-box input, .comment-box textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: none;
  box-sizing: border-box;
  background: #dbdbdb;
  outline: none;
  font-family: 'Raleway', sans-serif;
}
.blog-right {
  flex-basis: 30%;
  text-align: center;
  padding-right:-10px;
  width:100%;

}

.blog-right h3 {
  background: #08141b;
  color: #f8f2f2;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 2px;
  font-weight:200;
  font-family:'Raleway', sans-serif;

}

.blog-right div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Raleway', sans-serif;
  color: #3c061c !important;

}
.blog-right {
  padding-left:50px;
}
.box {
  border:none;
  padding:2px;
  width:100%;
  font-size: 15px;
  font-family:'Raleway', sans-serif;
  color: #3c061c !important;
}
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location h2 {
  font-family:'Raleway', sans-serif;
  text-align: center;
  margin-top:5px;
  margin-bottom:10px;
}

.location iframe {
  width: 100%;
  border-radius:20px;


}

.contact-us {
  width: 80%;
  margin: auto;
  margin-top:-50px;
}

.contact-col {
  flex-basis: 45%;
  margin-bottom: 40px;
}

.contact-col div {
  align-items: center;
  margin-bottom: px;
   font-family:'Raleway', sans-serif;
   display:flex;
}
#rebus div {
 margin-bottom: 40px;
}
#ultra div{
  align-items: center;
  margin-bottom: 40px;
  font-family:'Raleway', sans-serif;
  display:flex;
}

.contact-col div .fa {
  color:  #06283D;
  font-size: 26px;
  margin: 5px;
  margin-right: 30px;
}

.contact-col div p {
  font-family:'Raleway', sans-serif;
  padding: 0;
  margin-top:0px;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 400;
}

.contact-col input, .contact-col textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid grey;
  box-sizing: border-box;
  outline: none;
  font-family: 'Raleway', sans-serif;
}
div .poem p {

  word-spacing: -1px;
  text-align: justify;

}
.facilities-col .Mac {
  margin-top:25px;
}
.facilities-col .zero {
  margin-top:25px;
}
.facilities-col .one {
  margin-top:30px;
}

.move {
padding-top:10px;
}

.ipadpro {
letter-spacing:0px;
}
.TV {
letter-spacing:0px;

}
.form {
position:absolute;
left:40%;
top:30%;
}
.button {
margin-left:0;
}
.contact-col h4 {
padding-top:5px;
}

footer.down {
padding:100px 0 30px 0;
}


.window {
padding-bottom:100px;
}
.modalbackground {
margin: 0; /* убираем отступы */
padding: 0; /* убираем отступы */

position: fixed; /* фиксируем положение */
top:0; /* растягиваем блок по всему экрану */
bottom:0;
left:0;
right:0;
background: rgba(0,0,0,0.5); /* полупрозрачный цвет фона */
z-index:100; /* выводим фон поверх всех слоев на странице браузера */
opacity:0; /* Делаем невидимым */
pointer-events: none; /* элемент невидим для событий мыши */
}
.modalbackground:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
}
.modalwindow {
    width: 100%;
    max-width: 300px;
    margin:17% auto;
    padding: 2%;
    background: #fff;
    border-radius: 3px;
}
.modalwindow h3 {
padding: 0;
margin: 0;
}
.modalwindow p {
padding: 0;
margin:4% 0 8% 0;
word-spacing: inherit;
}
.modalwindow a {
display: block;
color: white;
background: #369;
padding: 2%;
margin: 0 auto;
width: 50%;
border-radius: 3px;
text-align: center;
text-decoration: none;
}

.modalwindow a:hover {
background: #47a;
}
p.some {
word-spacing:-0.35px;
}
