<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}">
</head>
<body>
  <footer>
     <h4>About Us</h4>
    <p>Get the most out of the devices you love with high‑quality content and services. Award‑winning series and films, amazing music in spatial audio, world-class workouts and meditations, trusted news publications, superfun games —
even the ways you pay for things. And they’re only on Apple.</p>
    <div class="icons">
      <a href="https://www.facebook.com/apple/"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/apple/"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/apple/"><i class="fa fa-linkedin"></i></a>
      <a href="https://twitter.com/apple"><i class="fa fa-twitter"></i></a>
    </div>
<!--    <p>Made with <i class="fa fa-heart"></i></p>-->
  </footer>
</body>
</html>