<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Product Card [JS + foundation]</title>
    <link rel="stylesheet" href="{% static 'css/style5.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<main class="main">
    <div class="mainWrapper">
        <div class="mainBackground clearfix">
            <div class="row">
                <div class="column small-centered">
                    <div class="productCard_block">
                        <div class="row">
                            <div class="small-12 large-6 columns">
                                <div class="productCard_leftSide clearfix">
                                    <div class="sliderBlock">
                                        <ul class="sliderBlock_items">
                                            <li class="sliderBlock_items__itemPhoto sliderBlock_items__showing">
                                                <img class="размер2" src="{% static 'images/mac-removebg-preview.png'%}" alt="headphones">
                                            </li>
                                            <li class="sliderBlock_items__itemPhoto">
                                                <img class="sizer" src="{% static 'images/mac2-removebg-preview.png' %}">
                                            </li>

                                            <li class="sliderBlock_items__itemPhoto">
                                                <img class="size4" src="{% static 'images/mac3-removebg-preview.png' %}"  alt="headphones">
                                            </li>
                                             <li class="sliderBlock_items__itemPhoto">
                                                <img class="size4" src="{% static 'images/mac4-removebg-preview.png' %}"  alt="headphones">
                                            </li>

                                        </ul>


                                        <div class="sliderBlock_controls">
                                            <div class="sliderBlock_controls__navigatin">
                                                <div class="sliderBlock_controls__wrapper">
                                                    <div class="sliderBlock_controls__arrow sliderBlock_controls__arrowBackward">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="sliderBlock_controls__arrow sliderBlock_controls__arrowForward">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <ul class="sliderBlock_positionControls" style="left:15px;">
                                                <li class="sliderBlock_positionControls__paginatorItem sliderBlock_positionControls__active"></li>
                                                <li class="sliderBlock_positionControls__paginatorItem"></li>
                                                <li class="sliderBlock_positionControls__paginatorItem"></li>
                                                <li class="sliderBlock_positionControls__paginatorItem"></li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-12 large-6 columns">
                                <div class="productCard_rightSide">
                                    <div class="block_specification">
                                        <div class="block_specification__specificationShow">
                                            <i class="fa fa-cog block_specification__button block_specification__button__rotate"
                                               aria-hidden="true"></i>
                                            <span class="block_specification__text">spec</span>
                                        </div>
                                        <div class="block_specification__informationShow hide">
                                            <i class="fa fa-info-circle block_specification__button block_specification__button__jump"
                                               aria-hidden="true"></i>
                                            <span class="block_specification__text">inform</span>
                                        </div>
                                    </div>

                                    <p class="block_model">
                                        <span class="block_model__text"></span>
                                        <span class="block_model__number"></span>
                                    </p>

                                    <div class="block_product">
                                        <h2 class="block_name block_name__mainName">13‑inch MacBook Pro
<sup></sup></h2>
                                        <h2 class="block_name block_name__addName"></h2>

                                        <p class="block_product__advantagesProduct">
                                            Wireless headphones with integrated microphone
                                        </p>

                                        <div class="block_informationAboutDevice">

                                            <div class="block_descriptionCharacteristic block_descriptionCharacteristic__disActive">
                                                <table class="block_specificationInformation_table">
                                                    <tr>
                                                        <th>Characteristic</th>
                                                        <th>Value</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Ear Coupling</td>
                                                        <td>Around Ear</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Transducer Principle</td>
                                                        <td>Dynamic, Closed-back</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Frequency Response</td>
                                                        <td>16Hz – 22kHz</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sound Pressure Level (SPL)</td>
                                                        <td>113 dB (Passive: 1 kHz/1 Vrms)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Total Harmonic Distortion (THD)</td>
                                                        <td>&lt;0.5% (1 kHz, 100 dB SPL)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Volume Control</td>
                                                        <td>Earcup control when Bluetooth connected</td>
                                                    </tr>


                                                </table>
                                            </div>


                                            <div class="block_descriptionInformation">
                                                <span>Peak performance with active noise cancelation. Sennheiser's new MOMENTUM Wireless
                                                - Closed circumauralheadphone featuring <a class="block_product__link"
                                                                                           href="#">Bluetooth<sup>&reg;</sup></a>  wireless technology and NoiseGard Hybrid active noise cancelation
                                                </span>
                                            </div>

                                            <div class="block_rating clearfix">
                                                <fieldset class="block_rating__stars">
                                                    <input type="radio" id="star5" name="rating" value="5"/><label
                                                        class="full" for="star5" title="Awesome - 5 stars"></label>
                                                    <input type="radio" id="star4half" name="rating"
                                                           value="4 and a half"/><label class="half" for="star4half"
                                                                                        title="Pretty good - 4.5 stars"></label>
                                                    <input type="radio" id="star4" name="rating" value="4"/><label
                                                        class="full" for="star4" title="Good - 4 stars"></label>
                                                    <input type="radio" id="star3half" name="rating"
                                                           value="3 and a half"/><label class="half" for="star3half"
                                                                                        title="Above average - 3.5 stars"></label>
                                                    <input type="radio" id="star3" name="rating" value="3"/><label
                                                        class="full" for="star3" title="Average - 3 stars"></label>
                                                    <input type="radio" id="star2half" name="rating"
                                                           value="2 and a half"/><label class="half" for="star2half"
                                                                                        title="Kinda bad - 2.5 stars"></label>
                                                    <input type="radio" id="star2" name="rating" value="2"/><label
                                                        class="full" for="star2"
                                                        title="Kinda bad - 2 stars"></label>
                                                    <input type="radio" id="star1half" name="rating"
                                                           value="1 and a half"/><label class="half" for="star1half"
                                                                                        title="Meh - 1.5 stars"></label>
                                                    <input type="radio" id="star1" name="rating" value="1"/><label
                                                        class="full" for="star1"
                                                        title="Sucks big time - 1 star"></label>
                                                    <input type="radio" id="starhalf" name="rating"
                                                           value="half"/><label
                                                        class="half" for="starhalf"
                                                        title="Sucks big time - 0.5 stars"></label>
                                                </fieldset>

                                                <span class="block_rating__avarage">4.75</span>
                                                <span class="block_rating__reviews">(496 reviews)</span>

                                            </div>
                                            <div class="row ">
                                                <div class="large-6 small-12 column left-align">
                                                    <div class="block_price">
                                                        <p class="block_price__currency">$1299</p>
                                                        <p class="block_price__shipping">Shipping and taxes extra</p>
                                                    </div>
                                                    <div class="block_quantity clearfix">
                                                        <span class="text_specification">Quantity</span>
                                                        <div class="block_quantity__chooseBlock">
                                                            <input class="block_quantity__number" name="quantityNumber"
                                                                   type="text" min="1" value="1">
                                                            <button class="block_quantity__button block_quantity__up"></button>
                                                            <button class="block_quantity__button block_quantity__down"></button>

                                                        </div>
                                                    </div>
                                                </div>
         <div class="large-6 small-12 column end">
                                                    <div class="block_goodColor">
                                                        <span class="text_specification" style="margin-left:10%;">Choose your colors:</span>
                                                        <div class="block_goodColor__allColors" style="margin-left:10%;">
                                                            <input type="radio" name="colorOfItem" class="radio_button"
                                                                   id="radioColor"/>
                                                            <label for="radioColor"
                                                                   class="block_goodColor__radio block_goodColor__SpaceGray"><a class="block_goodColor__radio block_goodColor__SpaceGray" href="../boxes4/"></a></label>


                                                            <input type="radio" name="colorOfItem" class="radio_button"
                                                                   id="radioColor2"/>
                                                            <label for="radioColor2"
                                                                   class="block_goodColor__radio block_goodColor__silver"><a class="block_goodColor__radio block_goodColor__silver" href="../boxes11/"></a></label>



                                                        </div>
                                                    </div>
                                                    <button class="button button_addToCard">
                                                       <div onclick="location.href='../../review4/'">Add to Cart</div>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- partial -->
  <script>
      window.onload = function () {

    //// SLIDER
    var slider = document.getElementsByClassName("sliderBlock_items");
    var slides = document.getElementsByClassName("sliderBlock_items__itemPhoto");
    var next = document.getElementsByClassName("sliderBlock_controls__arrowForward")[0];
    var previous = document.getElementsByClassName("sliderBlock_controls__arrowBackward")[0];
    var items = document.getElementsByClassName("sliderBlock_positionControls")[0];
    var currentSlideItem = document.getElementsByClassName("sliderBlock_positionControls__paginatorItem");

    var currentSlide = 0;
    var slideInterval = setInterval(nextSlide, 5000);  /// Delay time of slides

    function nextSlide() {
        goToSlide(currentSlide + 1);
    }

    function previousSlide() {
        goToSlide(currentSlide - 1);
    }


    function goToSlide(n) {
        slides[currentSlide].className = 'sliderBlock_items__itemPhoto';
        items.children[currentSlide].className = 'sliderBlock_positionControls__paginatorItem';
        currentSlide = (n + slides.length) % slides.length;
        slides[currentSlide].className = 'sliderBlock_items__itemPhoto sliderBlock_items__showing';
        items.children[currentSlide].className = 'sliderBlock_positionControls__paginatorItem sliderBlock_positionControls__active';
    }


    next.onclick = function () {
        nextSlide();
    };
    previous.onclick = function () {
        previousSlide();
    };


    function goToSlideAfterPushTheMiniBlock() {
        for (var i = 0; i < currentSlideItem.length; i++) {
            currentSlideItem[i].onclick = function (i) {
                var index = Array.prototype.indexOf.call(currentSlideItem, this);
                goToSlide(index);
            }
        }
    }

    goToSlideAfterPushTheMiniBlock();


/////////////////////////////////////////////////////////

///// Specification Field


    var buttonFullSpecification = document.getElementsByClassName("block_specification")[0];
    var buttonSpecification = document.getElementsByClassName("block_specification__specificationShow")[0];
    var buttonInformation = document.getElementsByClassName("block_specification__informationShow")[0];

    var blockCharacteristiic = document.querySelector(".block_descriptionCharacteristic");
    var activeCharacteristic = document.querySelector(".block_descriptionCharacteristic__active");


    buttonFullSpecification.onclick = function () {

        console.log("OK");


        buttonSpecification.classList.toggle("hide");
        buttonInformation.classList.toggle("hide");


        blockCharacteristiic.classList.toggle("block_descriptionCharacteristic__active");


    };


/////  QUANTITY ITEMS

    var up = document.getElementsByClassName('block_quantity__up')[0],
        down = document.getElementsByClassName('block_quantity__down')[0],
        input = document.getElementsByClassName('block_quantity__number')[0];

    function getValue() {
        return parseInt(input.value);
    }

    up.onclick = function (event) {
        input.value = getValue() + 1;
    };
    down.onclick = function (event) {
        if (input.value <= 1) {
            return 1;
        } else {
            input.value = getValue() - 1;
        }

    }


};
  </script>

</body>
</html>
