<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div class="row">
        <div class="bab">
        <div class="facilities-col">
        <img  class="mob" src="{% static 'images/bla bla.png' %}">
        <h3>iPhone 14 Pro   <span style="color: #bf4800;">New</span></h3>
        <h3>From $999</h3>
        <p id="iphone">The iPhone 14 Pro display has rounded corners that follow a beautiful curved design, and these corners are within a standard rectangle. When measured as a standard rectangular shape, the screen is 6.12 inches diagonally (actual viewable area is less).</p>
        <div id="f" class="buy"><a href="{% url 'card' %}">Buy now</a></div>
      </div>
        </div>

        <div class="old">
            <div class="facilities-col">
        <img class="watch" src="{% static 'images/watchcard.png' %}">
        <h3 class="zero">Apple Watch Ultra   <span style="color: #bf4800;">New</span></h3>
        <h3>From $499</h3>
        <p class="other_space"><p id="space">Meet the most rugged and capable Apple Watch ever. With a robust titanium case, precision dual-frequency GPS, up to 36 hours of battery life1, 1 the freedom of cellular, 2 and three specialized bands made for athletes and adventurers of all kinds.</p></p>
         <div id="f1" class="buy"><a href="{% url 'card2' %}">Buy now</a></div>
      </div>
        </div>
        <div class="aged">
        <div class="facilities-col">
        <img class="air" src="{% static 'images/storecard.png' %}">
        <h3 class="one">AirPods Pro   <span style="color: #bf4800;">New</span></h3>
        <h3>From $129</h3>
            <p id="space2">AirPods Pro (the 2nd generation) have been reengineered to deliver up to 2x more active noise Cancellation. Function of Adaptive Transparency reduces foreign noise, while Personalized Spatial  Audio  immerses  you  in  sound. <span style="word-spacing:1px;">A single charge delivers up to  6  hours  of  battery life.</span> </p>
 <div id="f2" class="buy"><a href="{% url 'card3' %}" class="button">Buy now</a></div>
      </div>
        </div>
    </div>
        <div class="row2" style="margin-top:5px;">
              <div class="bab2">
        <div class="facilities-col">
        <img class="mob2" src="{% static 'images/macbookpro13.png' %}">
        <h3>MacBook Pro 13  <span style="color: #bf4800;">New</span></h3>
        <h3>From $1299</h3>
        <p >The new M2 chip makes the 13‑inch MacBook Pro more capable than ever. The same compact design supports up to 20 hours of battery life and an active cooling system to sustain enhanced performance. Featuring a brilliant Retina display, and FaceTime HD camera.</p>
        <div id="f3" class="buy"><a href="{% url 'card4' %}">Buy now</a></div>
      </div>
        </div>

        <div class="old2" >
            <div class="facilities-col">
        <img class="watch2" src="{% static 'images/large.jpg' %}" style="width:180px; height:250px;">
        <h3 class="zero">iPad Pro   <span style="color: #bf4800;">New</span></h3>
        <h3>From $799</h3>
        <p class="other_space5"><p id="space5">Meet the most rugged and capable Apple Watch ever. With a robust titanium case, precision dual-frequency GPS, up to 36 hours of battery life1, 1 the freedom of cellular, 2 and three specialized bands made for athletes and adventurers of all kinds.</p></p>
         <div id="f4" class="buy"><a href="{% url 'card5' %}">Buy now</a></div>
      </div>
        </div>
        </div>
</body>
</html>