<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Home{% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">

</head>
<body>
<p class="errortext">Error 404. Your data  entered wrong</p>
<button  type="submit" style="position:absolute; left:145px;width:6%;" ><a style="text-decoration:none; hover:color:white; color:inherit;" href="../contact/">Back</a></button>
</body>
</html>